<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
  </startup>
  <appSettings>
    <add key="RunMode" value="S" />
    <add key="RunInterval" value="60000" />
    <add key="NumberOfRecordsToFetchForProfilingPerRun" value="10" />
    <!--FI Bridge-->
    <add key="EnableFIBridge" value="N" />
    <add key="FIBridgeServiceUrl" value="https://fi-bridge-test.fbn-devops-test-asenv.appserviceenvironment.net" />
    <add key="FIBridgeAppId" value="VSTLB" />
    <add key="FIBridgeAppKey" value="20d02a0c5283492790b5b2153fb98d6e" />
    <add key="CountryId" value="01" />
	<!--MIS Table Schema-->
	<add key="MISSchemaName" value="ETL_EXEC" />
  </appSettings>
  <connectionStrings>
    <add name="SourceDbConnection" connectionString="Data Source=.;Initial Catalog=SalaryAccountManagementPortal;Integrated Security=True" providerName="System.Data.SqlClient" />
    <add name="DestinationDbConnection" connectionString="Data Source=(DESCRIPTION=(ADDRESS=(PROTOCOL=tcp)(HOST=172.16.248.5)(PORT=1521))(CONNECT_DATA=(SERVICE_NAME=obieedbtst)));User Id=firstuser;Password=S3cur1ty;" providerName="Oracle.ManagedDataAccess.Client" />
  </connectionStrings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Text.Json" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-6.0.0.5" newVersion="6.0.0.5" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Memory" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.1.2" newVersion="4.0.1.2" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Runtime.CompilerServices.Unsafe" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Bcl.AsyncInterfaces" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="log4net" publicKeyToken="669e0ddf0bb1aa2a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.0.14.0" newVersion="2.0.14.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>