<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  https://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <configSections>
    <section name="oracle.manageddataaccess.client" type="OracleInternal.Common.ODPMSectionHandler, Oracle.ManagedDataAccess, Version=4.122.21.1, Culture=neutral, PublicKeyToken=89b483f429c47342" />
  </configSections>
  <appSettings>
    <add key="webpages:Version" value="3.0.0.0" />
    <add key="webpages:Enabled" value="false" />
    <add key="PreserveLoginUrl" value="true" />
    <add key="ClientValidationEnabled" value="true" />
    <add key="UnobtrusiveJavaScriptEnabled" value="true" />
    <!--Application Deployed Folder Path-->
    <add key="ApplicationBaseUrl" value="https://localhost:44347" />
    <add key="ApplicationDeployedFolderPath" value="" />
    <!--Session timeout-->
    <add key="SessionTimeOutInMinutes" value="15" />
    <!--User Inactivity Period-->
    <add key="UserInactivityPeriodInDays" value="90" />
    <!--Password Validity Period in Days-->
    <add key="PasswordValidityPeriod" value="30" />
    <!--Maximum Allowed Failed Logon Attempt Before Account Lock-->
    <add key="MaximumAllowedFailedLogonAttempt" value="3" />
    <!--Reports-->
    <add key="UserAccessLogReportPath" value="~/ReportFiles/UserAccessLogReport.rdlc" />
    <add key="ApplicationAuditLogReportPath" value="~/ReportFiles/ApplicationAuditLogReport.rdlc" />
    <add key="SettlementReportPath" value="~/ReportFiles/SettlementReport.rdlc" />
    <add key="SettlementReportPathFintech" value="~/ReportFiles/SettlementReportFintech.rdlc" />
    <add key="TransactionReportPath" value="~/ReportFiles/TransactionReport.rdlc" />
    <add key="AppUsersReportPath" value="~/ReportFiles/AppUsersReport.rdlc" />
    <add key="EmployerProfiledSalaryAccountsReportPath" value="~/ReportFiles/EmployerProfiledSalaryAccountsReport.rdlc" />
    <add key="IdentifiedSalaryAccountsReportPath" value="~/ReportFiles/IdentifiedSalaryAccountsReport.rdlc" />
    <!--Active Directory-->
    <add key="EnableAd" value="N" />
    <add key="AdServiceUrl" value="https://fbn-ad-soap-dev.fbn-devops-dev-asenv.appserviceenvironment.net/service.asmx" />
    <!--Token-->
    <add key="EnableToken" value="N" />
    <add key="EntrustServiceUrl" value="https://entrust-wrapperv10-dev-api.fbn-devops-dev-asenv.appserviceenvironment.net/AuthWrapper.svc" />
    <!--<add key="EntrustServiceUrl" value="http://172.16.249.199/EntrustWrapper/AuthWrapper.svc" />-->
    <!--Profile Pix (15kb)-->
    <add key="MaxProfilePixUploadSize" value="15360" />
    <!--Local Password Policy-->
    <add key="IncludeLowerCase" value="Y" />
    <add key="IncludeUpperCase" value="Y" />
    <add key="IncludeNumeric" value="Y" />
    <add key="IncludeSpecial" value="Y" />
    <add key="PasswordLength" value="8" />
    <!--Email Settings-->
    <add key="LoginNotificationSubject" value="Salary Account Management Portal : Login Notification" />
    <add key="LoginNotificationBodyTemplate" value="~/EmailTemplates/LoginNotification.htm" />
    <add key="PendingItemsNotificationSubject" value="Salary Account Management Portal : Pending Item(s) Notification" />
    <add key="PendingItemsNotificationBodyTemplate" value="~/EmailTemplates/PendingItemsNotification.htm" />
    <add key="ApprovalNotificationSubject" value="Salary Account Management Portal : Approval Notification" />
    <add key="ApprovalNotificationBodyTemplate" value="~/EmailTemplates/ApprovalNotification.htm" />
    <add key="RejectionNotificationSubject" value="Salary Account Management Portal : Rejection Notification" />
    <add key="RejectionNotificationBodyTemplate" value="~/EmailTemplates/RejectionNotification.htm" />
    <add key="AccountCreationNotificationSubject" value="Salary Account Management Portal : Account Creation Notification" />
    <add key="AccountCreationNotificationBodyTemplate" value="~/EmailTemplates/AccountCreationNotification.htm" />
    <add key="AccountResetNotificationSubject" value="Salary Account Management Portal : Account Reset Notification" />
    <add key="AccountResetNotificationBodyTemplate" value="~/EmailTemplates/AccountResetNotification.htm" />
    <add key="ForgotPasswordNotificationSubject" value="Salary Account Management Portal : Forgot Password Notification" />
    <add key="ForgotPasswordNotificationBodyTemplate" value="~/EmailTemplates/ForgotPasswordNotification.htm" />
    <!--FINTECH Form Settings-->
    <add key="UseDummySol" value="Y" />
    <add key="UseDummyAccountName" value="Y" />
    <!--Supported On-Boarding Documents Upload Formats-->
    <add key="SupportedOnBoardingDocumentsUploadFormats" value=".pdf" />
    <add key="MaxOnBoardingDocumentsUploadSize" value="1048576" />
    <!--System reserved roles and ID-->
    <add key="RelationshipManagerRoleId" value="2" />
    <add key="FINTECHContactPersonRoleId" value="3" />
    <!--Encryption-->
    <add key="EncryptionKey" value="f!rstb@nk" />
    <!--Password Reset Link Validity Period in Minutes-->
    <add key="PasswordResetLinkValidityPeriod" value="30" />
    <!--FI Bridge-->
    <add key="EnableFIBridge" value="N" />
    <add key="FIBridgeServiceUrl" value="https://fi-bridge-test.fbn-devops-test-asenv.appserviceenvironment.net" />
    <add key="FIBridgeAppId" value="VSTLB" />
    <add key="FIBridgeAppKey" value="20d02a0c5283492790b5b2153fb98d6e" />
    <add key="CountryId" value="01" />
    <!--BVN Validator-->
    <add key="EnableBVNValidator" value="N" />
    <add key="BVNValidatorServiceUrl" value="https://nibbs-bvn-validator-dev.fbn-devops-dev-asenv.appserviceenvironment.net/Service.svc" />
    <add key="IsBVNValidatorServiceUrlOnHttps" value="Y" />
    <!--CRMS-->
    <add key="EnableCRMS" value="N" />
    <add key="CRMSServiceUrl" value="http://10.163.20.65:7101/CRMS-Core-Model-webapp/ReturnSubmissionWSEJBBeanService" />
    <!--Credit Bureau-->
    <add key="EnableCRC" value="N" />
    <add key="CRCServiceUrl" value="http://172.16.248.237:8089" />
    <!--MIS Table Schema-->
    <add key="MISSchemaName" value="ETL_EXEC" />
  </appSettings>
  <connectionStrings>
    <add name="DefaultConnection" connectionString="Data Source=.;Initial Catalog=SalaryAccountManagementPortal;Integrated Security=True" providerName="System.Data.SqlClient" />
    <!--<add name="DefaultConnection" connectionString="Data source=172.16.249.199;Initial Catalog=DirectOnUsPortal;Persist Security Info=True;user id=sa;password=Fbn35*123;" providerName="System.Data.SqlClient" />-->
    <add name="FinacleConnection" connectionString="Data Source=(DESCRIPTION=(ADDRESS=(PROTOCOL=tcp)(HOST=172.16.249.246)(PORT=1521))(CONNECT_DATA=(SERVICE_NAME=TESTFBN)));User Id=custom;Password=custom;" providerName="Oracle.ManagedDataAccess.Client" />
    <add name="PostillionOfficeConnection" connectionString="Data Source=172.16.249.197;Initial Catalog=postilion_office;Persist Security Info=True;User ID=fapx;Password=firstpay2$" providerName="System.Data.SqlClient" />
    <add name="ObieeDbConnection" connectionString="Data Source=(DESCRIPTION=(ADDRESS=(PROTOCOL=tcp)(HOST=172.16.248.5)(PORT=1521))(CONNECT_DATA=(SERVICE_NAME=obieedbtst)));User Id=firstuser;Password=S3cur1ty;" providerName="Oracle.ManagedDataAccess.Client" />
    <add name="RacDbConnection" connectionString="Data Source=(DESCRIPTION=(ADDRESS=(PROTOCOL=tcp)(HOST=172.16.249.246)(PORT=1521))(CONNECT_DATA=(SERVICE_NAME=TESTFBN)));User Id=custom;Password=custom;" providerName="Oracle.ManagedDataAccess.Client" />
  </connectionStrings>
  <system.web>
    <httpCookies httpOnlyCookies="true" requireSSL="true" />
    <authentication mode="Forms">
      <forms cookieless="AutoDetect" loginUrl="~/account/login" defaultUrl="~/account/login" slidingExpiration="true" requireSSL="true" />
    </authentication>
    <compilation debug="true" targetFramework="4.7.2">
      <buildProviders>
        <add extension=".rdlc" type="Microsoft.Reporting.RdlBuildProvider, Microsoft.ReportViewer.WebForms, Version=15.0.0.0, Culture=neutral, PublicKeyToken=89845DCD8080CC91" />
      </buildProviders>
      <assemblies>
        <add assembly="Microsoft.ReportViewer.Common, Version=15.0.0.0, Culture=neutral, PublicKeyToken=89845DCD8080CC91" />
        <add assembly="Microsoft.ReportViewer.WebForms, Version=15.0.0.0, Culture=neutral, PublicKeyToken=89845DCD8080CC91" />
      </assemblies>
    </compilation>
    <httpRuntime targetFramework="4.7.2" maxRequestLength="2147483647" executionTimeout="10800" />
    <customErrors mode="Off" defaultRedirect="~/error/internal-server-error">
      <error statusCode="404" redirect="~/error/not-found" />
      <error statusCode="500" redirect="~/error/internal-server-error" />
    </customErrors>
    <pages>
      <namespaces>
        <add namespace="System.Web.Helpers" />
        <add namespace="System.Web.Mvc" />
        <add namespace="System.Web.Mvc.Ajax" />
        <add namespace="System.Web.Mvc.Html" />
        <add namespace="System.Web.Routing" />
        <add namespace="System.Web.WebPages" />
      </namespaces>
    </pages>
    <httpHandlers>
      <add path="Reserved.ReportViewerWebControl.axd" verb="*" type="Microsoft.Reporting.WebForms.HttpHandler, Microsoft.ReportViewer.WebForms, Version=15.0.0.0, Culture=neutral, PublicKeyToken=89845DCD8080CC91" validate="false" />
    </httpHandlers>
  </system.web>
  <system.webServer>
    <handlers>
      <remove name="ReportViewerWebControlHandler" />
      <add name="ReportViewerWebControlHandler" preCondition="integratedMode" verb="*" path="Reserved.ReportViewerWebControl.axd" type="Microsoft.Reporting.WebForms.HttpHandler, Microsoft.ReportViewer.WebForms, Version=15.0.0.0, Culture=neutral, PublicKeyToken=89845dcd8080cc91" />
    </handlers>
    <modules runAllManagedModulesForAllRequests="true" />
    <httpProtocol>
      <customHeaders>
        <add name="X-Frame-Options" value="SAMEORIGIN" />
      </customHeaders>
    </httpProtocol>
    <security>
      <requestFiltering>
        <requestLimits maxAllowedContentLength="1073741824" />
      </requestFiltering>
    </security>
    <validation validateIntegratedModeConfiguration="false" />
  </system.webServer>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Build.Framework" publicKeyToken="B03F5F7F11D50A3A" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-14.0.0.0" newVersion="14.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="EnvDTE" publicKeyToken="B03F5F7F11D50A3A" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-8.0.0.0" newVersion="8.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" culture="neutral" publicKeyToken="30ad4fe6b2a6aeed" />
        <bindingRedirect oldVersion="0.0.0.0-13.0.0.0" newVersion="13.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Optimization" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-1.1.0.0" newVersion="1.1.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="WebGrease" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-1.6.5135.21930" newVersion="1.6.5135.21930" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.SqlServer.Types" publicKeyToken="89845dcd8080cc91" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-14.0.0.0" newVersion="14.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.ReportViewer.WebForms" publicKeyToken="89845dcd8080cc91" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-15.0.0.0" newVersion="15.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.ReportViewer.WinForms" publicKeyToken="89845dcd8080cc91" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-11.0.0.0" newVersion="11.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Runtime.CompilerServices.Unsafe" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Bcl.AsyncInterfaces" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Text.Json" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-6.0.0.4" newVersion="6.0.0.4" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Antlr3.Runtime" publicKeyToken="eb42632606e9261f" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.5.0.2" newVersion="3.5.0.2" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Web.Infrastructure" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.0.0.0" newVersion="2.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Helpers" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.WebPages" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-5.2.9.0" newVersion="5.2.9.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Memory" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.1.2" newVersion="4.0.1.2" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <system.data>
    <DbProviderFactories>
      <remove invariant="Oracle.ManagedDataAccess.Client" />
      <add name="ODP.NET, Managed Driver" invariant="Oracle.ManagedDataAccess.Client" description="Oracle Data Provider for .NET, Managed Driver" type="Oracle.ManagedDataAccess.Client.OracleClientFactory, Oracle.ManagedDataAccess, Version=4.122.21.1, Culture=neutral, PublicKeyToken=89b483f429c47342" />
    </DbProviderFactories>
  </system.data>
  <system.codedom>
    <compilers>
      <compiler extension=".cs" language="c#;cs;csharp" warningLevel="4" compilerOptions="/langversion:7.3 /nowarn:1659;1699;1701;612;618" type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.CSharpCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=3.6.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" />
      <compiler extension=".vb" language="vb;vbs;visualbasic;vbscript" warningLevel="4" compilerOptions="/langversion:default /nowarn:41008,40000,40008 /define:_MYTYPE=\&quot;Web\&quot; /optionInfer+" type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.VBCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=3.6.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" />
    </compilers>
  </system.codedom>
</configuration>