@model App.Web.Models.AccountRelationshipManagerModel

<p>
    <div class="row">
        <div class="col-md-3">
            <div class="form-group">
                <label>
                    <strong>Relationship Manager  ID</strong>
                </label>
                <span class="form-control">
                    @Model.RelationshipManagerId
                </span>
            </div>
        </div>
        <div class="col-md-3">
            <div class="form-group">
                <label>
                    <strong>Relationship Manager Email</strong>
                </label>
                <span class="form-control">
                    @Model.RelationshipManagerEmail
                </span>
            </div>
        </div>
        <div class="col-md-3">
            <div class="form-group">
                <label>
                    <strong>Customer Account Name</strong>
                </label>
                <span class="form-control">
                    @Model.CustomerAccountName
                </span>
            </div>
        </div>
        <div class="col-md-3">
            <div class="form-group">
                <label>
                    <strong>Customer Account Number</strong>
                </label>
                <span class="form-control">
                    @Model.CustomerAccountNumber
                </span>
            </div>
        </div>
    </div>
</p>
