@model App.Web.Models.ReportSearchDateModel

<div class="col-md-3">
    <div class="form-group">
        <label for="">
            From
        </label>
        @Html.TextBoxFor(model => model.From, new { @class = "form-control input-sm", @type = "Date" })
    </div>
</div>
<div class="col-md-3">
    <div class="form-group">
        <label for="">
            To
        </label>
        @Html.TextBoxFor(model => model.To, new { @class = "form-control input-sm", @type = "Date" })
    </div>
</div>