@model App.Web.ViewModels.ViewFintechContactPersonsViewModel

@{
    ViewBag.Title = "View Fintech Contact Persons";
}

<div class="row mb-4">
    <div class="col-12 d-flex align-items-center justify-content-between">
        <h5 class="page-title">@Model.FintechName's Contact Persons</h5>
    </div>
</div>
<div class="row">
    <div class="col-12 table-responsive">
        <div class="card">
            <div class="card-body">
                @if (TempData["Alert"] != null)
                {
                    @Html.Partial("_Alert", TempData["Alert"])
                }

                @if (Model.FintechContactPersons != null && Model.FintechContactPersons.Count > 0)
                {
                    @Html.Partial("_PersonList", Model.FintechContactPersons)
                }
                else
                {
                    <div class="alert alert-fill-info" role="alert">
                        <i class="mdi mdi-alert-circle"></i>
                        No contact person exist yet!
                    </div>
                }
                <br />
                <a href="@Url.Action("ViewFintechs")" class="btn btn-primary btn-xs mr-2">
                    <i class="mdi mdi-refresh"></i>
                    Back
                </a>
            </div>
        </div>
    </div>
</div>


