@model App.Web.ViewModels.DashboardViewModel

@{
    ViewBag.Title = "Dashboard";
}

<div class="row mb-4">
    <div class="col-12 d-flex align-items-center justify-content-between">
        <h3 class="page-title">
            Dashboard
        </h3>
    </div>
</div>
<div class="row">
    <div class="col-md-4 grid-margin stretch-card">
        <div class="card">
            <div class="card-body d-flex flex-column">
                <canvas id="userStatusChart"> </canvas>
            </div>
        </div>
    </div>
    <div class="col-md-4 grid-margin stretch-card">
        <div class="card">
            <div class="card-body">
                <canvas id="myLoginChart"> </canvas>
            </div>
        </div>
    </div>
    <div class="col-md-4 grid-margin stretch-card">
        <div class="card">
            <div class="card-body">
                <canvas id="overallLoginChart"> </canvas>
            </div>
        </div>
    </div>
</div>


@section customScripts
{
    <script type="text/javascript">

        window.onload = function () {
            //user status chart
            var userStatusBarChartData =
            {
                labels: [@Html.Raw(Model.UserStatusChart.ChartKeyString)],
                datasets: [{
                    label: 'Count',
                    backgroundColor: ["#0bba83", "#d1d5d5", "#eaab41", "#de5b57", "#238feb","#00907f"],
                    borderWidth: 3,
                    data: [@Model.UserStatusChart.ChartValueString]
                }]
            };
            var userStatusCanvas = document.getElementById("userStatusChart").getContext("2d");
            window.myBar = new Chart(userStatusCanvas,
                {
                    type: 'bar',
                    data: userStatusBarChartData,
                    options:
                    {
                        title:
                        {
                            display: true,
                            text: "App Users Status Analytics Chart"
                        },
                        responsive: true,
                        maintainAspectRatio: true,
                        scales: {
                            xAxes: [{
                                ticks: {
                                    display: true,
                                    beginAtZero: true
                                }
                            }],
                            yAxes: [{
                                ticks: {
                                    display: false,
                                    beginAtZero: true
                                }
                            }]
                        },
                        legend: {
                            display: false
                        },
                    }
                });


            //my login chart
            var myLoginPieChartData =
            {
                labels: [@Html.Raw(Model.MyLoginChart.ChartKeyString)],
                datasets: [{
                    label: 'My Login Statistics',
                    backgroundColor: ["#F1635F", "#0cca8e"],
                    borderWidth: 3,
                    data: [@Model.MyLoginChart.ChartValueString]
                }]
            };

            var myLoginCanvas = document.getElementById("myLoginChart").getContext("2d");
            window.myBar = new Chart(myLoginCanvas,
                {
                    type: 'pie',
                    data: myLoginPieChartData,
                    options:
                    {
                        title:
                        {
                            display: true,
                            text: "My Application Login Analytics Chart"
                        },

                        responsive: true,
                        maintainAspectRatio: true,
                        legend: {
                            display: false
                        },
                    }
                });


            //overall login chart
            var overallLoginPieChartData =
            {
                labels: [@Html.Raw(Model.OverallLoginChart.ChartKeyString)],
                datasets: [{
                    label: 'Overall Login Statistics',
                    backgroundColor: ["#F1635F", "#0cca8e"],
                    borderWidth: 3,
                    data: [@Model.OverallLoginChart.ChartValueString]
                }]
            };

            var overallLoginCanvas = document.getElementById("overallLoginChart").getContext("2d");
            window.myBar = new Chart(overallLoginCanvas,
                {
                    type: 'pie',
                    data: overallLoginPieChartData,
                    options:
                    {
                        title:
                        {
                            display: true,
                            text: "Overall Application Login Analytics Chart"
                        },

                        responsive: true,
                        maintainAspectRatio: true,
                        legend: {
                            display: false
                        },
                    }
                });
        }
        
    </script>
}
