<?xml version="1.0"?>

<configuration>
  <configSections>
    <sectionGroup name="system.web.webPages.razor" type="System.Web.WebPages.Razor.Configuration.RazorWebSectionGroup, System.Web.WebPages.Razor, Version=3.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35">
      <section name="host" type="System.Web.WebPages.Razor.Configuration.HostSection, System.Web.WebPages.Razor, Version=3.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" requirePermission="false" />
      <section name="pages" type="System.Web.WebPages.Razor.Configuration.RazorPagesSection, System.Web.WebPages.Razor, Version=3.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" requirePermission="false" />
    </sectionGroup>
  </configSections>

  <system.web.webPages.razor>
    <host factoryType="System.Web.Mvc.MvcWebRazorHostFactory, System.Web.Mvc, Version=5.2.4.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
    <pages pageBaseType="System.Web.Mvc.WebViewPage">
      <namespaces>
        <add namespace="System.Web.Mvc" />
        <add namespace="System.Web.Mvc.Ajax" />
        <add namespace="System.Web.Mvc.Html" />
        <add namespace="System.Web.Routing" />
        <add namespace="App.Web" />
      </namespaces>
    </pages>
  </system.web.webPages.razor>

  <appSettings>
    <add key="webpages:Enabled" value="false" />
  </appSettings>

  <system.webServer>
    <handlers>
      <remove name="BlockViewHandler"/>
      <add name="BlockViewHandler" path="*" verb="*" preCondition="integratedMode" type="System.Web.HttpNotFoundHandler" />
    </handlers>
	 <httpProtocol>
 <customHeaders>
		  <add name="X-Frame-Options" value="SAMEORIGIN" />
		  <add name="Strict-Transport-Security" value="max-age=31536000" />
		  <add name="Content-Security-Policy" value="
  script-src 
    'self' 
    https://malsup.github.io 
    'unsafe-eval' 
    'unsafe-inline';" />
		<!--  <add name="Content-Security-Policy" 
			   value="script-src 
            'self' 
            https://malsup.github.io 
            'unsafe-eval' 
            'unsafe-hashes'
            'sha256-2g8/1Ie85x8r5os6uMYYMXOulempsDRrZbPydCHDMWE='
            'sha256-wPOvNH+8n++WRdXnszLgh+i+eX98KasXE3zrJxuc1dQ='
            'sha256-UjX/bicMu8IVPyfebOZrUmzjUSjDRmqMDD0vgXHy8nk='
            'sha256-PzrQvU+GZS/hehhJv/xGPUMXo4u8CgDZJg+sLthp9Xo='
            'sha256-t2Cve1NiOmyAqiVMvCJrqOgody6lrEnf9xMjbZ7b0f4='
            'sha256-vwrsd92xaoi2x3UQHh/OxyGSGbpuiqbxs+hK5N9WBBA='
            'sha256-4UN29HKo+SSBpgYPAFVAWkDF2cjebbQvhq6nqh5Di48='
            'sha256-y0V7tKA8DfYXB8kND76BrRfDYWT6pGRKTWZas39I6v0='
            'sha256-6+RjDHvnL0yNt8tzYIgD/jXUTTVNwSMcGGijoIO8jTg='
            'sha256-uYgJQXwCQAhb9w8qESfwtiLBUUZRc35+T/rEs55NoX4='
			'unsafe-inline'
			'sha256-WJPnfiZv9iG7TgIgD9hukRtn82yrPxIL8kFk4MUu7zs=';
			   font-src 'self' https://fonts.gstatic.com data:;
			   img-src 'self' data:;" />-->
		  <add name="X-XSS-Protection" value="1; mode=block" />
		  <add name="X-Content-Type-Options" value="nosniff" />
     </customHeaders>
    </httpProtocol>
	
  </system.webServer>

  <system.web>
    <compilation>
      <assemblies>
        <add assembly="System.Web.Mvc, Version=5.2.4.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
      </assemblies>
    </compilation>
  </system.web>
</configuration>
